<footer>
  <div class="footerUp">
    <ul>
      <li class="title">About Us</li>
      <li>Our Story</li>
      <li>Work with us</li>
      <li>Press & media</li>
      <li>Privacy & Security</li>
    </ul>
    <ul>
      <li class="title">We Offer</li>
      <li>Trip Sponsorship</li>
      <li>Last Minutes Flights</li>
      <li>Best Deals</li>
      <li>AI-Driven Search</li>
    </ul>
    <ul>
      <li class="title">Headquarters</li>
      <li>England</li>
      <li>France</li>
      <li>Canada</li>
      <li>Iceland</li>
    </ul>
    <ul>
      <li class="title">Travel Blogs</li>
      <li>Bali Travel Guide</li>
      <li>Sri Travel Guide</li>
      <li>Peru Travel Guide</li>
      <li>Swiss Travel Guide</li>
    </ul>
    <ul>
      <li class="title">Activities</li>
      <li>Tour Leading</li>
      <li>Cruising & sailing</li>
      <li>Camping</li>
      <li>Kayaking</li>
    </ul>
    <ul>
      <li class="title">Service</li>
      <li>Report Error</li>
      <li>Ask online</li>
      <li>Travel insurance</li>
      <li></li>
    </ul>
  </div>
  <div class="footerDown">
    <ul>
      <li><img src="IconR.svg" width="20px" />Copyright EasySet24</li>
    </ul>
    <ul>
      <li><img src="email-down.svg" width="20px" />Easyset24Gmail.Com</li>
    </ul>
    <ul>
      <li>"EasySet24: Seamless Journeys, Unrivalled Travel Wisdom!"</li>
    </ul>
    <ul>
      <li><img src="local-two.svg" width="20px" />123 Oxford Street,London</li>
    </ul>
  </div>
</footer>
