<header>
  <div class="logo">
    <a href="/home">
      <img src="Logo.svg" alt="" />
    </a>
  </div>
  <div>
    <app-search-input></app-search-input>
  </div>
  <div class="btnContainer">
    <select
      #languageSelect
      (change)="changeLanguage(languageSelect.value)"
      [value]="selectedLanguage"
    >
      <option value="en">EN</option>
      <option value="ukr">UA</option>
    </select>
    <a routerLink="/likes"><img width="25px" src="LikeBlue.svg" alt="" /></a>
    <a id="btn" routerLink="Login">{{ "Login" | translate }}</a>
    <a id="btn" routerLink="Register">{{ "Register" | translate }}</a>
  </div>
</header>
