<div>
  <div class="loginContainer">
    <div class="loginBody">
      <div class="imageLogin">
        <img src="travel_photo.png" alt="" />
      </div>
      <div class="formContainer">
        <form [formGroup]="form">
          <div formGroupName="userDetails">
            <h2>{{ "Login" | translate }}</h2>
            <p>Login to access yourEasyset24 account</p>
            <div class="inputValue">
              <label for="email">{{ "Email" | translate }}</label>
              <input
                formControlName="email"
                type="email"
                placeholder="Easyset24@gmail.com"
              />
              <div
                style="color: red"
                *ngIf="
                  form.get('userDetails.email')?.invalid &&
                  form.get('userDetails.email')?.touched
                "
              >
                Email is required and must be a valid email.
              </div>
            </div>
            <div class="inputValue">
              <label for="password">{{ "Password" | translate }}</label>
              <input formControlName="password" type="password" />
              <div
                style="color: red"
                *ngIf="
                  form.get('userDetails.password')?.invalid &&
                  form.get('userDetails.password')?.touched
                "
              >
                Password is required
              </div>
            </div>
            <div class="actions">
              <div class="RememberMe">
                <input type="checkbox" />
                <span>Remember Me</span>
              </div>
              <a href="/" i18n="@@login">Forgot Password?</a>
            </div>
          </div>
        </form>
        <div style="display: none; gap: 20px">
          <div class="box" [@toggleState]="animationState"></div>
          <button class="Animate" (click)="toggleAnimation()">Animate</button>
        </div>
        <pre>{{ form.value | json }}</pre>
        <button type="submit" (click)="updateFormData()">
          {{ "UpdateBtn" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<style>
  .box {
    width: 50px;
    height: 50px;
    background-color: red;
  }
</style>
