<main>
  <div class="cardContainer">
    <div class="iComponent">
      <img src="Logo.png" alt="" />
      <h1>Likes</h1>
    </div>
    <ul>
      <li *ngFor="let city of citiesWithLikes">
        <mat-card appearance="outlined">
          <mat-card-content class="cardBody">
            <img [src]="city.image" alt="{{ city.name }}" />
            <a [routerLink]="['/city', city.id]">
              <h3>{{ city.name }}</h3>
              <span class="rating">{{ city.rating }}</span>
            </a>
            <p>{{ city.date }}</p>
            <p>{{ city.title }}</p>
            <button id="like" (click)="toggleLike(city.id)">
              <img
                [src]="city.like ? 'Like.svg' : 'Vector.svg'"
                alt="{{ city.like ? 'Liked' : 'Unliked' }}"
              />
            </button>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </div>
</main>
