<div *ngIf="cityData.hotels?.length">
  <div class="title">
    <p>Hotels</p>
    {{ cityData.name }}
  </div>
  <ul>
    <li *ngFor="let hotel of cityData.hotels">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="cardContent">
            <div class="textContent">
              <div class="hotelTitle">
                <div class="hotelName">{{ hotel.name }}</div>
                <span>{{ hotel.countReviews }}reviews</span>
                <div class="rating">{{ hotel.rating }}</div>
              </div>

              <div>Location: {{ hotel.location }}</div>
              <div>{{ hotel.description }}</div>
              <div
                style="
                  display: flex;
                  justify-content: center;
                  width: 120px;
                  height: 50px;
                  background-color: green;
                  padding: 5px;
                  color: white;
                  flex-direction: column;
                  border-radius: 10px;
                "
              >
                UAH {{ hotel.price }}
              </div>
            </div>

            <img src="{{ hotel.image }}" alt="" srcset="" />
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
