<div *ngIf="cityData.hotels?.length">
  <div class="title">
    <p>Hotels</p>
    {{ cityData.name }}
  </div>
  <ul>
    <li *ngFor="let hotel of cityData.hotels">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="cardContent">
            <div class="textContent">
              <div class="hotelTitle">
                <div class="hotelName">{{ hotel.name }}</div>
                <span>{{ hotel.countReviews }}reviews</span>
                <div class="rating">{{ hotel.rating }}</div>
              </div>

              <div>Location: {{ hotel.location }}</div>
              <div>{{ hotel.description }}</div>
              <div class="price">UAH {{ hotel.price }}</div>
            </div>

            <img src="{{ hotel.image }}" alt="" srcset="" />
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
