<div>
  <div class="loginContainer">
    <div class="loginBody">
      <div class="imageLogin">
        <img src="travel_photo.png" alt="" />
      </div>
      <div class="formContainer">
        <form action="">
          <h2>{{ "Register" | translate }}</h2>
          <p>Login to access yourEasyset24 account</p>
          <div style="display: flex; gap: 40px">
            <div class="inputValue">
              <label for="lastName">{{ "name" | translate }}</label>
              <input name="" type="text" placeholder="Easyset24" />
            </div>
            <div class="inputValue">
              <label for="lastName">{{ "surname" | translate }}</label>
              <input name="email" type="email" placeholder="Easyset24" />
            </div>
          </div>
          <div class="inputValue">
            <label for="email">{{ "Email" | translate }}</label>
            <input
              name="email"
              type="email"
              placeholder="Easyset24@gmail.com"
            />
          </div>
          <div class="inputValue">
            <label for="password">{{ "Password" | translate }}</label>
            <input name="password" type="password" value="000000000000" />
          </div>
          <div class="inputValue">
            <label for="password">{{ "ConfirmPassword" | translate }}</label>
            <input name="password" type="password" value="000000000000" />
          </div>
          <div class="actions">
            <div class="RememberMe">
              <input type="checkbox" />
              <span>{{ "Accept" | translate }}</span>
            </div>
          </div>

          <button type="submit">Register Now</button>
        </form>
      </div>
    </div>
  </div>
</div>
